<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal SonicWALL</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h3>Para adicionar um site, preencha abaixo:</h3>
    <form method="POST" action="/addtolist">
        <label for="cfsProfile">Para qual lista deseja a liberação?</label> <br>
        <select name=cfsListNames id="cfsListNames">
        {% for uriListName in uriLists['uri_list_object'] %}
            <option> {{uriListName['name']}}
        {% endfor %}
        </select> <br>

        <label for="uriToAdd">Qual o domínio do site a ser liberado?</label> <br>
        <input type="text" name="uriToAdd" id="uriToAdd" placeholder="infomach.com.br"> <br>
        <button>Adicionar</button>
    </form>
</body>
</html>