<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar empresa</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Cadastrar nova empresa</h1>
    <form method="POST" action="/addcompany">
        <label for="companyName">Nome da empresa</label>
        <input type="text" name="companyName" id="companyName">
        <br><br>
        <label for="companyCNPJ">CNPJ da empresa (somente números)</label>
        <input type="text" name="companyCNPJ" id="companyCNPJ">
        <br><br>
        <button>Cadastrar</button>
        <a href="/admin">
            <button type="button">Voltar</button>
        </a>
    </form>
</body>
</html>