<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuario</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Cadastrar novo usuário</h1>
    <form method="POST" action="/adduser">
        <label for="company">Nome da empresa</label>
        <select name="companyID" id="companyID">
            {% for company in companies %}
                <option name="companyID" value="{{company['companyID']}}">{{company['companyName']}}</option>
            {% endfor %}
        </select>
        <br> <br>
        <label for="username">Nome de usuário</label>
        <input type="text" name="username" id="username"> <br> <br>
        <label for="name">Nome completo</label>
        <input type="text" name="name" id="name"> <br> <br>
        <label for="password">Senha</label>
        <input type="password" name="password" id="password"> <br> <br>
        <label for="group">Grupo do usuário</label>
        <select name="group" id="group">
            <option value="superadmin">superadmin</option>
            <option value="admin">admin</option>
            <option value="user">user</option>
        </select>
        <br>
        <button>Cadastrar</button>
        <a href="/admin">
            <button type="button">Voltar</button>
        </a>
    </form>
</body>
</html>