<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal SonicWALL</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Portal para liberações de sites SonicWALL Alpha</h1>
    <h2>Entre com as credenciais do firewall que deseja se conectar:</h2>

    <form method="POST" action="/login">
        <label for="fwAddress">Endereço do Firewall</label> <br>
        <input type="text" name="fwAddress" id="fwAddress" required placeholder="https://meufirewall.com"> <br><br>
        <label for="fwUser">Usuário do Firewall</label> <br>
        <input type="text" name="fwUser" id="fwUser" required> <br><br>
        <label for="fwPassword">Senha do Firewall</label> <br>
        <input type="password" name="fwPassword" id="fwPassword" required> <br><br>
        <button>Logar</button>
    </form>

</body>
</html>