<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal SonicWALL</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Portal para liberações de sites SonicWALL Beta</h1>
    <h2>Entre com suas credenciais:</h2>

    <form method="POST" action="/login">
        <label for="username">Usuário</label> <br>
        <input type="text" name="username" id="username" required> <br><br>
        <label for="password">Senha</label> <br>
        <input type="password" name="password" id="password" required> <br><br>
        <button>Logar</button>
    </form>

</body>
</html>