<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <script src="https://unpkg.com/vue@3.2.11"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal SonicWALL</title>
</head>

<body>
    <h1>Portal para liberações de sites SonicWALL Alpha</h1>
    <h2>Entre com as credenciais do firewall que deseja se conectar:</h2>

    <div id="app">
        <form method="POST" action="/login">
            <label for="fwAddress">Endereço do Firewall</label> <br>
            <input  type="text" name="fwAddress" id="fwAddress" required placeholder="https://meufirewall.com"> <br><br>
            <label for="fwUser">Usuário do Firewall</label> <br>
            <input v-model="username" type="text" name="fwUser" id="fwUser" required> <br><br>
            <label for="fwPassword">Senha do Firewall</label> <br>
            <input v-model="password" type="password" name="fwPassword" id="fwPassword" required> <br><br>
            <button>Logar</button>
            {{username}}
            {{password}}
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/appwrite@4.0.1"></script>
    <script>
        const api = new Appwrite()
        api
            .setEndpoint('http://localhost/v1') // Your Appwrite Endpoint
            .setProject('613f9ccf42af1') // Your project ID

        const Login = {
            data: () => ({
                username: "",
                password: ""
            }),
            methods: {
                async createSession() {
                    await api.account.createSession(this.username, this.password)
                    console.log(response); // Success
                }
            }
        }

        //Vue.createApp(Login).mount('#app')

    </script>

</body>
</html>