<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover site - Portal SonicWALL</title>
</head>
<body>
    <h3>Para remover um site já liberado, preencha abaixo:</h3>
    <form method="POST" action="/removefromlist">
        <label for="cfsProfile">Qual a lista contém o site a ser removido?</label> <br>
        <select name=cfsListName id="cfsListName">
        {% for uriListName in uriLists['uri_list_object'] %}
            <option> {{uriListName['name']}}
        {% endfor %}
        </select> <br>

        <label for="uriToAdd">Qual o domínio do site a ser removido?</label> <br>
        <input type="text" name="uriToDel" id="uriToDel" placeholder="infomach.com.br"> <br>
        <button>Remover</button>
    <form>
</body>
</html>